<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='charts.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <title>Test</title>
</head>
<body>
    <div class="back">🢀</div>
    <div class="wrapper">
        <div class="button-container">
            <div class="time-buttons">1 W</div>
            <div class="time-buttons">1 M</div>
            <div class="time-buttons">6 M</div>
            <div class="time-buttons">1 Y</div>
            <div class="time-buttons">2 Y</div>
            <div class="time-buttons">5 Y</div>
            <div class="time-buttons">ALL</div>
            <div class="date-button">
                <img src="{{ url_for('static', filename='image/calendar.png') }}" alt="calendar icon">
            </div>
        </div>
        <h1 class="stockName">{{ stock_name }}</h1>
        <h2 class="stockTicker">{{ stock_ticker }}</h2>
        <canvas id="preview" class="canvas"></canvas>
        <div class="options">
            <div class="current-price">price</div>
            <input type="text" class="input-amount" placeholder="Amount">
            <div class="buy-date-select">
                date <img src="{{ url_for('static', filename='image/calendar.png') }}" alt="calendar icon">
            </div>
            <div class="cost">cost</div>
            <div class="add-button">+ add</div>
        </div>
    </div>    
</body>
</html>